@font-face {
    font-family: "Bergamasco";
    src: url("assets/fonts/Bergamasco Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/Montserrat-Regular.ttf");
}


* {
    box-sizing: border-box;
}


body {
    margin:0;
    background:#101010;
    overflow-x:hidden;
}


.screen {

    width:100%;
    max-width:1280px;

    aspect-ratio:1280 / 800;

    position:relative;

    margin:auto;

    overflow:hidden;

    background:#101010;

}



/* общий фон */

.screen::before {

    content:"";

    position:absolute;

    inset:0;

    background:
    radial-gradient(circle at 10% 35%,
    rgba(255,120,40,.55),
    transparent 18%),

    radial-gradient(circle at 75% 75%,
    rgba(255,170,50,.35),
    transparent 20%);

}



/* рамка */

.side-frame {

    position:absolute;

    width:100%;

    height:100%;

    inset:0;

}



/* меню */

.menu {

    position:absolute;

    top:6%;

    left:7%;


    display:flex;

    gap:30px;


    color:white;

    font-family:Montserrat;

    font-size:clamp(10px,1vw,13px);

}



/* заголовок */

.title {

    position:absolute;

    top:15%;

    left:50%;

    transform:translateX(-50%);

    text-align:center;

    color:white;

}


.title h1 {

    font-family:Bergamasco;

    font-weight:400;

    font-size:clamp(50px,7vw,90px);

    margin:0;

}



.title p {

    font-family:Montserrat;

    font-size:clamp(12px,1.5vw,20px);

    letter-spacing:2px;

    margin:-5px 0 0;

}



/* боковые тексты */


.left-text,
.right-text {

    position:absolute;

    top:16%;


    font-family:Montserrat;

    font-size:clamp(9px,1vw,13px);

    color:white;

}


.left-text {

    left:8%;

}


.right-text {

    right:8%;

}



/* объекты */


.glasses {

    position:absolute;

    width:34%;

    left:25%;

    top:43%;


    animation:float 5s infinite ease-in-out;

}



.book {

    position:absolute;

    width:34%;

    left:52%;

    top:52%;


    animation:bookMove 6s infinite ease-in-out;

}



.big-flower {

    position:absolute;

    width:40%;

    left:-5%;

    bottom:-12%;

}



.star {

    position:absolute;

}


.yellow {

    width:5%;

    left:43%;

    top:65%;

}


.pink {

    width:3%;

    left:72%;

    top:45%;

    animation:shine 2s infinite;

}



/* анимации */


@keyframes float {

50% {

transform:translateY(-15px);

}

}


@keyframes bookMove {

50% {

transform:rotate(-3deg) translateY(-10px);

}

}


@keyframes shine {

50% {

opacity:1;

transform:scale(1.2);

}

}
